*{
   margin: 0;
   padding: 0; 
}

body{
    background-color: rgb(192, 149, 207);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:#C0C0C0;
    font-family: "Story Script" , sans-serif;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 35px;
    font-size: 1.2rem;
}

.left{
    font-size: 2.5rem;
    font-weight: bold;
}

.firstSection div{
    width: 30%;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.leftSection{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .leftSection div{
    font-weight: bold;
} */

.rightSection{
    background-image: url(IMG_20250830_210925.jpg);
    background-size: cover;
    
}